.counter-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-family: Arial, sans-serif;
}
  
.counter-value {
	font-size: 2em;
	margin: 0;
}
  
.buttons-container {
	display: flex;
	gap: 10px;
}
  
.button {
	padding: 10px 20px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	background-color: #4CAF50;
	color: white;
	border: none;
}

.button:active {
	outline: 1px solid #2c832f;
}
  
.reset-button {
	padding: 10px 20px;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	background-color: #f44336;
	color: white;
	border: none;
}

.reset-button:active {
	outline: 1px solid #a4271e;
}
  